<li>
  <div class="question-title"><a href="/questions/<%= question.id %>"><%= question.title %></a></div>
  <div class="question-sub"><%= question.vote_total %> votes - <%= question.answers_total %> Answers - asked <%= question.time_since_creation %> hours ago</div>
</li><br >
