<div class="container">
  <section>
    <h3><%= @question.title %></h3>
    <p>asked by <%= @question.author.username %> <%= @question.time_since_creation %> hours ago</p>
    <p><span class="vote_count"><%= @question.vote_total %></span> vote<%= "s" if @question.vote_total > 1 %> :
      <% if current_user %>
        <a href="/questions/<%= @question.id %>/vote/1" class="vote">Up Vote</a> : <a href="/questions/<%= @question.id %>/vote/0" class="vote">Null Vote
        </a> : <a href="/questions/<%= @question.id %>/vote/-1" class="vote">Down Vote</a>
      <% end %>
    <p><%= @question.description %></p>
<% if @user == @question.author %>
        <p>
          <a href="/questions/<%= @question.id %>/edit">Edit</a> | <a href="/questions/<%= @question.id %>/delete">Delete</a>
        </p>
<% end %>
  </section>
  <hr>
  <section class="question_comments">
    <p>Comments:</p>
<% @question.comments.each do |comment| %>
  <%= erb :'comments/comment', layout: false, locals: {comment: comment} %>
<% end %>
<% if current_user %>
<%= erb :'comments/new', layout: false %>
<% end %>
  </section>
  <hr>
  <section class="answers">
  <h3>Answers:</h3>
<% @question.answers.each do |answer| %>
<%= erb :'answers/_answer', layout: false, locals: {answer: answer } %>
<% end %>
  </section>
  <section>
<% if current_user %>
<%= erb :'answers/new', layout: false %>
<% end %>
  </section>
</div>

