<article id="<%=comment.id%>">
  <p><%= comment.description %></p>
  <p>
    <span class='votes'>(<%= comment.vote_total %>)</span>
    <span class='author'><%= (comment.author&&comment.author.username)||"Anon" %></span>
    <span class='created_at'><%= comment.created_at.localtime.strftime("%FT%R") %></span>
    <span class='updated_at'><%= comment.updated_at.localtime.strftime("%FT%R") %></span><br>
    <a href="/comments/<%=comment.id%>/edit">edit</a>
    <a href="/comments/<%=comment.id%>/delete">delete</a>
    <a href="/comments/<%=comment.id%>/upvote">up vote</a>
    <a href="/comments/<%=comment.id%>/downvote">down vote</a>
    <a href="/comments/<%=comment.id%>/nullvote">set vote to neutral</a>
  </p>
</article>
