<article id="<%=comment.id%>">
  <p><%= comment.description %></p>
  <p>
    <span class='votes'><%= comment.votes %></span>
    <span class='author'><%= comment.author %></span>
    <span class='updated_at'><%= comment.updated_at.localtime %></span>
    <a href="/comments/<%=comment.id%>/edit">edit</a>
    <a href="/comments/<%=comment.id%>/delete">delete</a>
  </p>
</article>
