<div class= "container">
<h2 class= "section-title"> <%= current_user.username %>'s homepage </h2>
<% if current_user.questions %>
  <h3> Recent questions </h3>
  <ul class="plain_list">
  <% current_user.questions.each do |question| %>
    <li><a href ="/questions/<%= question.id %>"><%= question.title %></a></li>
  <% end %>
  </ul>
<% end %>
<% if current_user.comments %>
  <h3> Recent comments </h3>
  <ul class="plain_list">
  <% current_user.comments.each do |comment| %>
    <li><a href ="/comments/<%= comment.id %>"><%= comment.description %></a></li>
  <% end %>
  </ul>
<% end %>
</div>
