  <div id="answer_<%= answer.id %>">
    <p><%= answer.description %></p>
<% if current_user == answer.author %>
    <a href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/edit">Edit</a> | <a href="/questions/<%=answer.question.id%>/answers/<%=answer.id%>/delete">Del</a>
<% end %>
    <div class="author">
      <p>answered <%= answer.date %></p>
      <p><%= answer.author.username %></p>
    </div>
  </div>
