  <div id="answer_<%= answer.id %>" style="border: 1px dotted grey">
    <p>answered by <%= answer.author.username %> <%= answer.time_since_creation %> hours ago</p>
    <p><%= answer.vote_total %> vote<%= "s" if answer.vote_total > 1 %> :
      <% if current_user %>
        <a href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/vote/1">Up Vote</a> : <a href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/vote/0">Null Vote
        </a> : <a href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/vote/-1">Down Vote</a>
      <% end %>
      <p><%= answer.description %></p>
<% if @user == answer.author %>
        <p>
          <a href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/edit">Edit</a> | <a href="/questions/<%= answer.question.id %>/answers/<%= answer.id %>/delete">Delete</a>
        </p>
<% end %>
  <section class="question_comments" style="margin: 30px">
<% if answer.comments.count != 0 %>
    <p>Comments:</p>
<% end %>
<% answer.comments.each do |comment| %>
  <%= erb :'comments/comment', layout: false, locals: {comment: comment} %>
<% end %>
  </section>
  </div>
