<article id="<%=vote.id%>">
    <span class='id'><%= vote.id%></span>
    <span class='weight'><%= vote.weight %></span>
    <span class='author'><%= vote.author %></span>
    <span class='votable_type'><%= vote.votable_type %></span>
    <span class='votable_id'><%= vote.votable_id %></span>
    <span class='updated_at'><%= vote.updated_at.localtime %></span>
    <a href="/votes/<%=vote.id%>/edit">edit</a>
    <a href="/votes/<%=vote.id%>/delete">delete</a>
    <a href="/votes/<%=vote.id%>/upvote">up vote</a>
    <a href="/votes/<%=vote.id%>/downvote">down vote</a>
    <a href="/votes/<%=vote.id%>/nullvote">set vote to neutral</a>
  </p>
</article>
